# Local environment

# Local App URL
APP_URL=http://localhost:3000

# Kakao REST API Key
KAKAO_REST_API_KEY=PUT_YOUR_KAKAO_REST_API_KEY_HERE

# Ubion LiteLLM
UBION_LITELLM_URL=http://192.168.50.119:4000
UBION_LITELLM_KEY=PUT_YOUR_UBION_LITELLM_KEY_HERE
UBION_VISION_MODEL=gpt-4o
